{% style %}
  #shopify-section-{{ section.id }}{
    margin-top:calc({{section.settings.mt}} / 16 * 1rem);
  }
  .section-bezahlen-{{ section.id }}{
    padding-bottom:{{section.settings.pb}}px;
    padding-top:{{section.settings.pt}}px;
    
  }
   @media (max-width:1100px){
     #shopify-section-{{ section.id }}{
      margin-top:0px;
    }
  }
{% endstyle  %}
 
 
 <div class="section-bezahlen  section-bezahlen-{{ section.id }}">
      <div class="container">
        <div class="section-bezahlen__wrap">
          <div class="left">
            <div class="left__wrap">
                <div class="image">
                <div class="image__wrap">
                    <img src="{{section.settings.img| img_url:'master'}}" alt="" width="" height="">
                </div>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="right__wrap">
              <div class="subtitle-2">
                <p>
                  {{section.settings.name}}
                </p>
              </div>
              <div class="list-text">
                 {% for block in section.blocks %}
                  <div class="title">
                    <h3>
                      {{block.settings.title}}
                    </h3>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    {% schema %}
    {
      "name": "section-bezahlen",
     
      "settings": [
        {
          "type": "range",
          "id": "mt",
          "min": -50,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "margin-top",
          "default": 0
        },
        {
          "type": "range",
          "id": "pb",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "padding-bottom",
          "default": 0
        },
        {
          "type": "range",
          "id": "pt",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "padding-bottom",
          "default": 0
        },
        {
          "type": "text",
          "id": "name",
          "label": "name",
          "default":"Sie bezahlen nicht für Wasser oder Alkohol in Ihrer Haarpflege."
        },
         {
          "type": "image_picker",
          "id": "img",
          "label": "image"
         
        }
      ],
      "blocks": [
        {
          "name": "item",
          "type": "item",
          "settings": [
           {
              "type": "text",
              "id": "title",
              "label": "title",
              "default":"Sondern nur für reichhaltige, sorgsam ausgewählte und wissenschaftlich erprobte Inhaltsstoffe zur Revitalisierung Ihres Haares."
            }
          ]
        }
      ],
      "presets": [
        {   
          "name": "section-bezahlen"
        }
      ]
    }
  {% endschema %}